<section class="card text-primary">
  <div class="card-header">
    <h6>{{currentItem.itemName}}</h6>
  </div>
  <section class="card-body item-details">
    <div *ngIf="mode=='cart'">From: {{currentItem.shopName}}</div>
    <div>
      Quantity:
      <select *ngIf="mode=='summary'" [(ngModel)]="currentItem.quantity">
        <option *ngFor="let quantity of quantities">{{quantity}}</option>
      </select>
      <span *ngIf="mode=='cart'">{{currentItem.quantity}}</span>
    </div>
    <a *ngIf="mode=='summary'" [routerLink]="" class="text-danger" (click)="deleteItem()">Delete</a>
    <span *ngIf="mode=='summary' && currentItem.id && currentItem.id>0" class="text-success">Saved</span>
    <span *ngIf="mode=='summary' && (!currentItem.id || currentItem.id<0)" class="text-warning">UnSaved</span>
    <a *ngIf="mode=='cart' && !currentItem.isBagged" [routerLink]="" class="link-primary text-primary" (click)="completeItem()">Complete</a>
    <span *ngIf="mode=='cart' && currentItem.isBagged" class="link-primary text-success disabled">Completed</span>
  </section>
</section>
