<div *ngIf="shops?.length<1">Your Cart is empty</div>
<div *ngIf="shops?.length>0" class="cartbuttons">
  <button class="btn btn-primary m-1" (click)="editCart()">Edit Cart</button>
  <button class="btn btn-primary m-1" (click)="completeShopping()">Completed?</button>
</div>
<div *ngIf="shops?.length>0" class="card bg-dark">
  <div *ngFor="let shop of shops">
    <div >
      <div class="card-header bg-secondary">
        <h5 class="card-title"> {{shop.name}}</h5>
      </div>
      <app-items [currentItem]="item" [mode]="shop.mode" *ngFor="let item of shop.shopItems"></app-items>
    </div>
  </div>
</div>
