<section>
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header class="bg-secondary">
        <mat-panel-title>
          {{currentShop.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!--<ul class="list-group">
        <li class="list-group-item" *ngFor="let item of currentShop.shopItems">
          <app-items [currentItem]="item"></app-items>
        </li>
      </ul>-->
      <app-items [currentItem]="item" [mode]="currentShop.mode" *ngFor="let item of currentShop.shopItems"></app-items>
      <form *ngIf="isEditorAddMode" class="bg-secondary text-light" (ngSubmit)="saveItem()">
        <div class="row">
          <mat-form-field class="col-md-7 m-1" appearance="fill">
            <mat-label>Select an item from list or add a New Item</mat-label>
            <input type="text" matInput [formControl]="selectedItemControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div class="col-md-3 m-1">
            <button class="btn btn-success" type="submit">Save</button>
            <button style="margin-left:2px;" type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
          </div>
        </div>
      </form>
      <button *ngIf="!isEditorAddMode" class="btn btn-primary m-1" (click)="addItem()">Add New Item</button>
      <button *ngIf="!isEditorAddMode &&currentShop.shopItems?.length>0" class="btn btn-primary m-1" (click)="addToCart()">Add to Cart</button>
    </mat-expansion-panel>
  </mat-accordion>
</section>
